<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Singapore TOTO's Result Chart</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <h1>Histogram of Winning Numbers</h1>
      <canvas id="histogram" width="600" height="400"></canvas>

      <h1>Winning Numbers</h1>
      <canvas id="winning_no" width="600" height="400"></canvas>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>

    <script>
      var histogram_data = {
      	labels: [
{% for key,value in result_histogram.items() %}
"{{ key|e }}",
{% endfor %}
        ],
        datasets: [{
            data: [
{% for key,value in result_histogram.items() %}
"{{ value|e }}",
{% endfor %}
            ],
        }]
      }
      var histogram_ctx = document.getElementById("histogram");
      var histogram_chart = new Chart(histogram_ctx, {
          type: 'bar',
          data: histogram_data,
          options: {
            legend: { display: false, },
          }
      });

      var winning_no_data = {
        datasets: [
{% for key, value in result_dict.items() %}
        { label: '{{ key|e }}',
          data: [
            {x: {{ value[0]|e }}, y: {{ loop.revindex0 }}, r: 3 }, 
            {x: {{ value[1]|e }}, y: {{ loop.revindex0 }}, r: 4 }, 
            {x: {{ value[2]|e }}, y: {{ loop.revindex0 }}, r: 5 },
            {x: {{ value[3]|e }}, y: {{ loop.revindex0 }}, r: 5 },
            {x: {{ value[4]|e }}, y: {{ loop.revindex0 }}, r: 4 },
            {x: {{ value[5]|e }}, y: {{ loop.revindex0 }}, r: 3 },
          ]
        },
{% endfor %}
        ]

      }
      var winning_no_ctx = document.getElementById("winning_no");
      var winning_no_chart = new Chart(winning_no_ctx, {
          type: 'bubble',
          data: winning_no_data,
          options: {
            legend: { display: false, },
          }
      });
    </script>
  </body>
</html>